@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --gray-25: 252 252 252;
    --gray-50: 245 245 245;
    --gray-100: 237 237 237;
    --gray-200: 229 229 229;
    --gray-300: 224 224 224;
    --gray-400: 217 217 217;
    --gray-500: 212 212 212;
    --gray-600: 199 199 199;
    --gray-700: 143 143 143;
    --gray-800: 111 111 111;
    --gray-900: 51 51 51;
    --gray-950: 22 22 22;
    --gray-1000: 0 0 0;

    --purple-50: 238 241 255;
    --purple-100: 224 228 255;
    --purple-200: 199 205 254;
    --purple-300: 164 172 253;
    --purple-400: 128 129 249;
    --purple-500: 107 98 242;
    --purple-600: 83 59 229;
    --purple-700: 79 55 203;
    --purple-800: 64 47 164;
    --purple-900: 55 45 130;
    --purple-950: 34 27 75;
  }

  .dark {
    --gray-25: 22 22 22;
    --gray-50: 28 28 28;
    --gray-100: 35 35 35;
    --gray-200: 40 40 40;
    --gray-300: 46 46 46;
    --gray-400: 52 52 52;
    --gray-500: 62 62 62;
    --gray-600: 80 80 80;
    --gray-700: 112 112 112;
    --gray-800: 160 160 160;
    --gray-900: 209 209 209;
    --gray-950: 237 237 237;
    --gray-1000: 255 255 255;

    --purple-50: 34 27 75;
    --purple-100: 55 45 130;
    --purple-200: 64 47 164;
    --purple-300: 79 55 203;
    --purple-400: 83 59 229;
    --purple-500: 107 98 242;
    --purple-600: 128 129 249;
    --purple-700: 164 172 253;
    --purple-800: 199 205 254;
    --purple-900: 224 228 255;
    --purple-950: 238 241 255;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-gray-1000;
  }
}
